// Statuses
.game-over {
  border: 1px solid;
  padding: $default-padding;
  font-size: 1.5em;
  color: rgba(255, 255, 255, .8);
  &.won {
    background-color: green;
    border-color: darken(green, 15%);
  }
  &.lost {
    background-color: red;
    border-color: darken(red, 15%);
  }
}

.stats {
  padding: $default-padding 0;
  font-size: .8em;
  /*background-color: #CCC;*/
}

%icon {
  font-family: icomoon;
  font-size: 32px;
}

// Board
.grid {
  display: inline-block;
  transform: translateX(50%);
  .line {
    display: flex;
    .cell {
      background-color: #333;
      margin: 0 2px 2px 0;
      border-radius: 3px;
      line-height: $cellSize;
      text-align: center;
      width: $cellSize;
      height: $cellSize;
      font-size: .8em;
      &.flagged {
        background-color: mix(orange, black, 70);
        &:before {
          @extend %icon;
          content: $i-flag;
        }
      }
      &.nobomb {
        background-color: mix(silver, black, 70%);
        font-weight: bold;
        font-size: 1.2em;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 

        &.has-1-bombs-around{ color: #ffd000 }
        &.has-2-bombs-around{ color: #c75b04 }
        &.has-3-bombs-around{ color: #38bd0f }
        &.has-4-bombs-around{ color: #00b4fb }
        &.has-5-bombs-around{ color: #7b080f }
        &.has-6-bombs-around{ color: #fe0229 }
        &.has-7-bombs-around{ color: #39625f }
        &.has-8-bombs-around{ color: #888888 }
      }
      &.exploded, &.bomb {
        background-color: red;
        &:before {
          @extend %icon;
          content: $i-exploded;
        }
      }
      &.notFoundBomb {
        background-color: mix(red, black, 70%);
        &:before {
          @extend %icon;
          content: $i-bomb;
        }
      }
    }
  }
}
